<header>
  <h1>Librería (Modo Administrador)</h1>
</header>

<main id="mainLayout">
  <aside id="leftMenu">
    <nav class="navbar">
      <ul class="menu-list">
        <li><a href="admin-home.html">Inicio</a></li>
        <li><a href="admin-perfil.html">Mi Perfil</a></li>
        <li><a href="admin-agregar-libro.html">Agregar Libro</a></li>
        <li><a href="#" id="logoutLink">Cerrar sesión</a></li>
      </ul>
    </nav>
  </aside>

  <section id="body"></section>
</main>

<footer>
  <p>© 2025 Librería SPA - Cliente</p>
</footer>
