<header>
  <h1>Librería (Modo Cliente)</h1>
</header>

<main id="mainLayout">
  <aside id="leftMenu">
    <nav class="navbar">
      <ul class="menu-list">
        <li><a href="cliente-home.html">Inicio</a></li>
        <li><a href="cliente-perfil.html">Mi Perfil</a></li>
        <li><a href="cliente-carrito.html">Mi carrito</a></li>
        <li><a href="cliente-lista-compras.html">Ver lista de compras</a></li>
        <li><a href="#" id="logoutLink">Cerrar sesión</a></li>
      </ul>
    </nav>
  </aside>

  <section id="body"></section>
</main>

<footer>
  <p>© 2025 Librería SPA - Cliente</p>
</footer>
