<section class="detalle-libro">
  <h2 id="verLibroTitulo">Detalle del libro</h2>
  <div id="detalleLibro">
    <p><strong>ISBN:</strong> <span id="isbn"></span></p>
    <p><strong>Título:</strong> <span id="titulo"></span></p>
    <p><strong>Autor(es):</strong> <span id="autores"></span></p>
    <p><strong>Resumen:</strong> <span id="resumen"></span></p>
    <p><strong>Stock disponible:</strong> <span id="stock"></span></p>
    <p><strong>Precio:</strong> <span id="precio"></span></p>
  </div>
  <button id="addCartBtn">Agregar al carrito</button>
</section>
