<header><h1 id="verLibroTitulo">Ver Libro</h1></header>
<article>
  <div id="detalle" class="detalle">
    <div><h3>ISBN</h3><p id="isbnParagraph"></p></div>
    <div><h3>Título</h3><p id="tituloParagraph"></p></div>
    <div><h3>Autores</h3><p id="autoresParagraph"></p></div>
    <div><h3>Resumen</h3><p id="resumenParagraph"></p></div>
    <div><h3>Stock</h5><h3 id="stockParagraph"></p></div>
    <div><h3>Precio €</h3><p id="precioParagraph"></p></div>
    <div class="acciones" id="accionesVerLibro"></div>
  </div>
</article>
